<div class="map-container">
  <div class="dialog">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected> Selected point : Lat : {{ lat | number: ".3" }}, Lon :
        {{ long | number: ".3" }}</mat-chip>
    </mat-chip-list>

    <mat-chip-list aria-label="Fish selection" *ngIf="temperatureAtPoint">
      <mat-chip [color]="messageColor" selected>
        
        Temperature at selected point is : {{ temperatureAtPoint }}. The nearest
        populated locality - {{ city }}
      >
    </mat-chip>
    </mat-chip-list>
  </div>

  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
