.head-container {
  display: flex;
  align-items: center;
  background-color: white;
  // * {
  //   border: 1px dotted blue;
  // }
}
mat-list {
  align-items: center;
  display: flex;
}
mat-card {
  display: flex;
  align-items: center;
  h3 {
    margin: 0;
    padding: 0;
  }
}
